   <head>
    <title>Discotroc - Liste des Genres </title>
    <meta name="description" content="Discs Index">
    <meta name="keywords" content="music, html">
<%=render 'head'%>
  </head>
  <div class="text-center">
  <%= form_for @edit_genre do |f| %>
    <form>
      <%= label_tag 'Titre' %> <br />
      <%= f.text_field :name, class: "form-control", placeholder: 'Nom du genre', autocomplete: 'off' %>
      <%= submit_tag "Modifier le genre", class: "btn btn-primary" %>  <%= link_to "Revenir à l'accueil", root_path%>
    </form>
  <% end %>
  <%= link_to 'Supprimer', genre_path(@edit_genre.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
</div>
