  <head>
    <title>Discotroc - Liste des Disques </title>
    <meta name="description" content="Discs Index">
    <meta name="keywords" content="music, html">
 <%=render 'head'%>

  </head>
<div class="text-center">
<p> Genre N° <%= @genre.id%>
<hr style="width: 5%; border: 1px solid black;" >
<p> Nom </p> <p><%=@genre.name%></p>
<hr style="width: 5%; border: 1px solid black;" >
<br>
<%= link_to "Retour aux genres", genres_path%>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
</div>
