        <center>
  <%= form_for @edit_track do |f| %>
    <form>
      <%= label_tag 'Titre' %> <br />
      <%= f.text_field :name, class: "form-control", placeholder: 'Nom du style', autocomplete: 'off' %>
      <%= submit_tag "Modifier le style", class: "btn btn-primary" %>  <%= link_to "Revenir à l'accueil", root_path%>
    </form>
  <% end %>
  <%= link_to 'Supprimer', track_path(@edit_track.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
</center>
