<div class="login-screen">
  <h2 class="text-dark">Modifier <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login-form">
      <%= f.label :email, class: "text-dark" %><br />
      <%= f.email_field :email, class: "form-control login-field", autofocus: true, placeholder: "Entrez votre email", autocomplete: "email" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="login-form">
      <%= f.label :password, class: "text-dark" %> <i>(laissez le champ vide si vous ne voulez pas le modifier)</i><br />
      <%= f.password_field :password, class: "form-control login-field", placeholder: "Nouveau mot de passe", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>
    <div class="login-form">
      <%= f.label :password_confirmation, class: "text-dark" %><br />
      <%= f.password_field :password_confirmation, class: "form-control login-field", placeholder: "Confirmez nouveau mot de passe", autocomplete: "new-password" %>
    </div>
    <div class="login-form">
      <%= f.label :current_password, class: "text-dark" %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i><br />
      <%= f.password_field :current_password, class: "form-control login-field", placeholder: "Mot de passe", autocomplete: "current-password" %>
    </div>
    <div class="login-form">
      <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block text-dark" %>
    </div>
  <% end %>
  <%= link_to "Effacer changement", :back %>
  <h3>Supprimer mon compte</h3>
  <p>Vous êtes vraiment si malheureux ?! <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes vraiment sûr ? :'/" }, method: :delete %></p>
</div>
