<section>
	<div class="page">
		<div class="sign_up">
			<h2>S'inscrire</h2>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", type: "email" %><br>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Mot de passe", type: "password" %>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmation de mot de passe", type: "password" %> <br> <br>
      <%= f.submit "S'inscrire", type: "submit", :class => "up"  %>
<%end%>
	</div>
</section>
</body>