<title>Discotroc - Blog</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Discotroc - Blog">
<meta charset="UTF-8" />
<meta name="keywords"	content="blog, blogs, articles, articles, news, musique, musiques, playlists, partage, disques" />
</head>
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= label_tag 'Content', "Contenu du commentaire" %> <br>
  <%= text_field_tag 'content'%> <br>
  <% if current_user.id == @deal.sender_id %>
    <%= hidden_field_tag 'comment_sender_id', current_user.id%> <br>
    <%= hidden_field_tag 'comment_receiver_id', @deal.receiver_id %> <br>
  <% else %>
    <%= hidden_field_tag 'comment_sender_id', current_user.id %> <br>
    <%= hidden_field_tag 'comment_receiver_id', @deal.sender_id %> <br>
  <% end %>
  <%= hidden_field_tag 'deal_id', @deal.id %> <br>
  <%= submit_tag "Envoyer" %>
<% end %>
<br>
<div class="copy-right text-center">
  <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br>
   <br>
  <%= link_to "Revenir à l'accueil", root_path%>
  <br>
  <br>
