<center>
  <h3>Écrire un article</h3>
<%= form_tag url_for(action: 'create'), method: "post" do %>

   <p><%= label_tag 'Titre' %></p>
   <p><%= text_field_tag 'title', '', size: 75 %></p>
   <p><%= label_tag 'Contenu de votre article' %></p>
   <%= hidden_field_tag 'user', current_user.id %>
   <p><%= text_area_tag 'content', nil, rows: 25, cols: 100 %></p>

<%= submit_tag "Soumettre", class:"btn btn-info" %>

<% end %>
   </center>
