<div class="login-screen">
  <h2 class="text-dark">Renvoyer les instructions de déblocage</h2>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login-form">
      <%= f.label :email, class: "text-dark" %><br />
      <%= f.email_field :email, class: "form-control login-field", placeholder: "Entrez votre email", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="login-form">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary btn-lg btn-block text-dark" %>
    </div>
  <% end %>
  <div class="login-form">
    <%= render "devise/shared/links" %>
  </div>
</div>
