<head>
	<title>Discotroc - Modifier Profil</title>
	<meta name="keywords"	content="Modifier Profil">
<%= render 'head'%>
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-left" style="margin: 0 auto;">
					<div class="middle text-center">
						<%if @edit_user.avatar.attached?%>
							<%= image_tag @edit_user.avatar, alt: 'avatar' %>
						<%else%>
							<%=image_tag "avatars/Daft Punk.png", style:"width: 200px; height: 200px;"%>
						<%end%>

          <br>
						<h4 class="text-center">Modifier votre profil</h4>
						<p class="text-center">Saisissez vos nouvelles informations.</p>
					</div>
          <%= form_for @edit_user, class: "signin-form", multipart: true do |f| %>
							<div class="form-input">
								<%= label_tag 'Avatar' %>
								<%= f.file_field :avatar %>
							</div>
							<div class="form-input">
								<%= label_tag 'Prénom' %>
								<%= f.text_field :first_name, autocomplete: 'on' %>
							</div>
             <div class="form-input">
                <%= label_tag 'Nom' %>
               <%= f.text_field :last_name,  autocomplete: 'on'%>
             </div>
             <div class="form-input">
                <%= label_tag 'Description' %>
               <%= f.text_field :description,  autocomplete: 'on'%>
             </div>
             <div class="form-input">
                <%= label_tag 'Adresse' %>
               <%= f.text_field :address, autocomplete: 'on'%>
             </div>
             <div class="form-input">
                <%= label_tag 'Complément Adresse' %>
               <%= f.text_field :additional_address, autocomplete: 'on'%>
             </div>
             <div class="form-input">
                <%= label_tag 'Code Postal' %>
               <%= f.text_field :zipcode, autocomplete: 'on'%>
             </div>
              <div class="form-input">
                <%= label_tag 'Ville' %>
               <%= f.text_field :city, autocomplete: 'on'%>
             </div>
             <div class="form-input">
                <%= label_tag 'Pays' %>
               <%= f.text_field :country, autocomplete: 'on'%>
             </div>
             <br>
             <div class="text-center">
							<%= f.submit "Modifier", type: "submit", class: "site-btn text-center", style: "padding: 10px 20px"  %>
              </div>
              <%end%>
              <br>
					<div class="copy-right text-center">
						<%= link_to "Revenir à l'accueil", root_path%> <br>
             <%= link_to 'Supprimer', user_path(@edit_user.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
					 </div>
				</div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>
