<center>
<p> Utilisateurs n° <%= @user.id%>
<hr style="width: 5%; border: 1px solid black;" >
<p> Prénom: <%=@user.first_name%></p>
<p> Nom: <%=@user.last_name%></p>
<p> Description: <%=@user.description%></p>
<p> Adresse: <%=@user.address%></p>
<%if @user.additional_address != nil %>
<p> Complément d'adresse: <%=@user.additional_address%></p>
<%end%>
<p> Code Postal: <%=@user.zipcode%></p>
<p> Ville: <%=@user.city%></p>
<p> Pays: <%=@user.country%></p>

<%= link_to "Modifier", edit_user_path(@user.id)%>




<h5>Disques Possédés :</h5>


<% UserLibrary.where(user_id: @user.id).each do |disc_id|%>

<h6><%= Disc.find_by(id: disc_id.disc_id).title %></h6>


<%end%>



<h5> Library </h5>

<% DealContent.where(sender_library_id: @user.id).each do |user_library_index| %>
<%if UserLibrary.find_by(user_id: @user.id).nil? == false%>
<% UserLibrary.find_by(user_id: @user.id).description %>

<%# @user.user_libraries.pluck(:description) %>
<%end%><%end%>

<h6>

</center>
<br>
<br>
<br>
<br>
<br>
<br>