 
   <head>
    <title>Discotroc - Modification Format </title>

    <meta name="description" content="Discs Index">
    <meta name="keywords" content="music, html">
<%=render 'head'%>
  </head><div class="text-center">
  <%= form_for @edit_genre do |f| %>
    <form>
      <%= label_tag 'Titre' %> <br />
      <%= f.text_field :name, class: "form-control", placeholder: 'Nom du style', autocomplete: 'off' %>
      <%= submit_tag "Modifier le genre", class: "btn btn-primary" %>  <%= link_to "Revenir à l'accueil", root_path%>
    </form>
  <% end %>
  <%= link_to 'Supprimer', genre_path(@edit_genre.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
</div>