<%= form_tag(root_path,method: :get) do %>
  <%= text_field_tag(:search,params[:search])%>
  <%= submit_tag "search"%>
  <div class="container">
    <div class="row my-3">
      <% @search.results.each do |search|%>
        <div class="card col-4 " style="width: 18rem;">
          <%= image_tag search.cover_image %>
          <div class="card-body">
            <h5 class="card-title"><%=search.title%></h5>
            <p class="card-text">Artiste de :<%=search.country%></p>
            <p class="card-text">Sortie en : <%=search.year%></p>
            <%= @release.title%>
          </div>
        </div>
      <% end%>
    </div>
  </div>
<% end%>
