<% artist = @wrapper.get_artist("329937")%>
  <%= artist.name%>
  <br>
  <%= artist.profile%>
  <br>
  <% release1 = @wrapper.get_release("1529724")%>
    <br>
    <%= release1.title%>
    <br>
    <br>
    <%= release1.formats[0].descriptions[0]%>
    <br>
    <%tracklist = release1.tracklist.pluck(:title)%><br>
      <%= "Liste des titres de l'album #{release1.title} :"%><br>
      <%tracklist.each do |n| %>
        <%= n%><br>
      <%end%><br>

      <%= form_tag(root_path,method: :get) do %>
      <%= text_field_tag(:search,params[:search])%>
      <%= submit_tag "search"%>
      <div class="container">
        <div class="row my-3">
          <% @search.results.each do |n|%>
            <div class="card col-4 " style="width: 18rem;">
              <%= image_tag n.cover_image %>
              <div class="card-body">
                <h5 class="card-title"><%=n.title%></h5>
                <p class="card-text">Pays: <%=n.country%></p>
                <p class="card-text">Année:
                  <%=n.year%></p>
                <p
                <p class="card-text">Label:
                  <%=n.label[0]%></p>
                <p
                <p class="card-text">ID Discogs:
                  <%=n.id%></p>
                <p
                <p class="card-text">Genre:
                  <%=n.genre[0]%></p>
                <p class="card-text">Styles:
                  <%=@wrapper.get_release(n.id).styles%>
                </p>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    <% end%>
