<center>
  <h4> Ajouter un vinyle à ma bibliothèque </h4>
  <%= link_to "Rajouter un vinyle", new_user_library_path %>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4>Ma bibliothèque de vinyles</h4>
        <%@user_libraries.where(user_id: current_user.id).each do |user_library|%>
          <p> <%= user_library.user.first_name%>
            <p>
              <p> <%= user_library.disc.title%>
                <p><%= user_library.description%></p>
                <%= link_to "Voir le vinyle", user_library_path(user_library.id)%>
                <hr>
              <%end%>
            </div>
            <div class="col-6">
              <h4>Liste des vinyles présents sur le site</h4>
              <%@user_libraries.each do |user_library|%>
                <p> <%= user_library.user.first_name%>
                  <p>
                    <p> <%= user_library.disc.title%>
                      <p><%= user_library.description%></p>
                      <%= link_to "Voir le vinyle", user_library_path(user_library.id)%>
                      <hr>
                    <%end%>
                  </div>
                </div>
              </div>
            </center>

            	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Similar Songs section -->
	<section class="similar-songs-section">
		<div class="container-fluid">
			<h3>Similar Songs</h3>
			<div class="row">
			<%@user_libraries.each_with_index do |library, index|%>
				<div class="col-xl-3 col-sm-6">
					<div class="similar-song">
						<%=image_tag "playlist/1.jpg", :class => "ss-thumb" %src= alt=""%>
						<h4><%=library.disc.title%></h4>
						<p><%=library.disc.artists.pluck(:name).join(" & ")%></p>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url="music-files/3.mp3"></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									<!-- Player Controls -->
									<div class="ss-controls">
										<div class="songs-links">
											<%=link_to image_tag("icons/p-1.png")%></a>
											<a href=""><%=image_tag "icons/p-2.png"%></a>
											<a href=""><%=image_tag "icons/p-3.png"%></a>
										</div>
									</div>
									<!-- Progress Bar -->
									<div class="player_bars">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div>
													<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
												</div>
											</div>
										</div>
										<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
									</div>
								</div>
								<div class="jp-no-solution">
									<span>Update Required</span>
									To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%end%>
			</div>
		</div>
	</section>
	<!-- Similar Songs section end -->
