<center><br>
  <%= link_to "Ajouter un disque à sa librairie", new_user_library_path, class: "btn btn-info" %><br><br>

<h4> Voici les disques disponibles à l'échange </h4>


<%@user_libraries.each do |user_library|%>
<%if user_library.user.first_name%>
<p><%=user_library.user.first_name%></p>
<%else%>
<p><%=user_library.user.email%></p>
<%end%>
<%@search = @auth_wrapper.search(user_library.disc.title, type: :release)%>
<p><%= image_tag @search.results.first.cover_image %></p>
<p> <%= user_library.disc.title%>
<p><%= user_library.description%></p>
<%= link_to "Voir", user_library_path(user_library.id)%>
<hr>
<%end%>
</center>
