   <head>
    <title>Discotroc - Liste des Trocs </title>
    <meta charset="UTF-8">
    <meta name="description" content="Discs Index">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"%>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
            	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<!-- Similar Songs section -->
	<section class="similar-songs-section">
		<div class="container-fluid">
			<div class="text-center">
		  <h1>Disque a Troquer</h1>
						<h4 class="disc-index-title" style="margin-bottom: 15px">Cherchez votre bonheur</h4></div>
			<div class="container text-center">
  <% if user_signed_in? %>
    <h5 class="disc-index-title" style="margin-bottom: 10px"><%= link_to "Ou créez le !", new_disc_path, class: "site-btn text-center", style: "padding: 10px 20px"%> </h5>
     <br>
    <br>
  <% end %></div>
			
        <div class="container">	
								<ul class="playlist-filter controls">
							<div class="text-center">
					<li class="control", style="margin-right: 10px" data-filter="all">Tout les genres</li>
					</div><div class="text-center">
<% @all_genres.each do |genre|%>
					<li class="control", style="margin-right: 10px" data-filter=".<%=genre.name%>"><%=genre.name%></li>
					<%end%>
		</div>
				<hr style="width: 35%; border: 1px solid black;" >
				</ul>
			</div> 
			<div class='container'>
				<div class="row playlist-area">
			<%@user_libraries.each_with_index do |library, index|%>
			<% if library.disc.genre.name == @all_genres[0].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[0].name%>">
					<div class="library-index-card" style="height: 95%;">
					 <% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
								<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
			<% elsif library.disc.genre.name == @all_genres[1].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[1].name%>">
					<div class="library-index-card" style="height: 95%;">
			<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	              <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
									</div>								
									</div>			
									 								<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif library.disc.genre.name == @all_genres[2].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[2].name%>">
					<div class="library-index-card" style="height: 95%;">
	<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
																	<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif library.disc.genre.name == @all_genres[3].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[3].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
																	<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif library.disc.genre.name == @all_genres[4].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[4].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
																	<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
																	<% elsif library.disc.genre.name == @all_genres[5].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[5].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
									<% elsif library.disc.genre.name == @all_genres[6].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[6].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
							<% elsif library.disc.genre.name == @all_genres[7].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[7].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
						<% elsif library.disc.genre.name == @all_genres[8].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[8].name%>">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
								<% elsif library.disc.genre.name == @all_genres[9].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[9].name%>">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
									<% elsif library.disc.genre.name == @all_genres[10].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[10].name%>">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
							<% elsif library.disc.genre.name == @all_genres[11].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[11].name%>">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
						<% elsif library.disc.genre.name == @all_genres[12].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[12].name%>">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
												<% elsif library.disc.genre.name == @all_genres[13].name%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[13].name%>">
					<div class="library-index-card" style="height: 95%;">
						<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
												<% else %>
				<div class="mix col-xl-3 col-sm-6 all">
					<div class="library-index-card" style="height: 95%;">
					<% if library.disc.cover_picture != nil %>
					 <%= image_tag library.disc.cover_picture %>
            <% else %>
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<% end %>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artist%></p></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>								
									</div>			
															<div class="low-card" style="flex-direction: column">
											<%=library.description%>
									<div class="lib-index-butn" >	 
									<%if user_signed_in?%>
									<%if current_user.id != library.user_id%>
									 <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%elsif current_user.id == library.user_id%>
									 <%= link_to "Voir mon Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									<%else%>
									<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>
									<%end%>
									
									</div>
 									</div>
                 	</div>
									</div>
							<%end%>
							<%end%>
							</div>
			</div>
		</div>
	
	</section>
