<div class="container text-center">
  <% if user_signed_in? %>
    <h4> Ajouter un disque à ma bibliothèque </h4>
    <%= link_to "Rajouter un vinyle", new_user_user_library_path(current_user.id) %>
  <% end %>
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-6 text-center">
        <h4>Ma bibliothèque de disques</h4>
        <%@user_libraries.where(user_id: current_user.id).each do |user_library|%>
          <p> <%= user_library.user.first_name%>
          </p>
          <p> <%= user_library.disc.title%></p>
          <p> <%=image_tag user_library.disc.cover_picture%></p>
          <p><%= user_library.description%></p>
          <%= link_to "Voir le vinyle", user_library_path(user_library.id)%>
          <hr>
        <%end%>
      </div>
    <% end %>
    <div class="col-6 text-center">
      <h4>Liste des disques présents sur le site</h4>
      <%@user_libraries.each do |user_library|%>
        <p> <%= user_library.user.first_name%>
        </p>
        <p> <%= user_library.disc.title%></p>
        <p> <%=image_tag user_library.disc.cover_picture%></p>
        <p><%= user_library.description%></p>
        <%= link_to "Voir le vinyle", user_library_path(user_library.id)%>
        <hr>
      <%end%>
    </div>
  </div>
</div>
