            	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<!-- Similar Songs section -->
	<section class="similar-songs-section">
		<div class="container-fluid">
			<h3>Similar Songs</h3>
			<div class="row">
			<%@user_libraries.each_with_index do |library, index|%>
				<div class="col-xl-3 col-sm-6">
					<div class="library-index-card" style="height: 95%;">
						<%=image_tag "playlist/4.jpg", :class => "ss-thumb" %src= alt=""%>
						<div class="head-lib-card"><h4><%=library.disc.title%></h4>
							 <%=link_to user_library_path(library.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 25px; padding-right:14px"></i><%end%></div>
							<div class="head-lib-card"><p><%=library.disc.artists.pluck(:name).join(" & ")%></p><pre><%=library.disc.release%>  </pre></div>
						<div class="single_player">
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">

										</div>
									
									</div>
							
										<div class="low-card">
											<%=library.description%>
									<div class="lib-index-butn mt-3" >	  <%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%></div>

								</div>
			
		
							
				</div>
				</div>
				
							</div>
							<%end%>
			</div>
		</div>
	</section>
	<!-- Similar Songs section end -->
