<div class="container text-center my-4">
  <p>Possesseur du disque: <%=link_to @user_library.user.first_name, user_path(@user_library.user.id)%>
  </p>
  <h6><%=link_to @user_library.disc.title, disc_path(@user_library.disc.id)%></h6>
  <% search = @auth_wrapper.search(@user_library.disc.title, type: :release)%>
  <% if search.results.first != nil %>
    <%= image_tag search.results.first.cover_image %>
  <% else %>
    <p>Pas de cover pour ce disque.</p>
  <% end %>
  <%if @user_library.description != nil%>
    <p><%= @user_library.description%></p>
  <%end%>
  <br>
  <% if user_signed_in? %>
    <% if current_user.id == @user_library.user_id || current_user.is_admin? == true %>
      <%= link_to "Modifier", edit_user_user_library_path(current_user.id, @user_library.id)%>
    <% end %>
    <% if current_user.user_libraries.ids.count > 0 && @user_library.user_id != current_user.id%>
      <%= form_tag user_library_deals_path(user_library_id: params[:id], receiver_id: @user_library.user.id, action: 'create'), method: "post" do %>
        <%= submit_tag "Ouvrir un espace de troc", data: { confirm: 'Confirmez-vous la demande de troc ?' }, class: "btn btn-secondary" %>
      <% end %>
      <br>
    <%else%>
      <h5>Vous n'avez aucun disque dans votre collection.</h5>
      <p>Si vous désirez obtenir <%=@user_library.disc.title%>, vous devez pouvoir proposer quelque chose en échange !</p>
      <%=link_to "Cliquez ici pour ajouter un disque à votre collection.", new_user_user_library_path(current_user.id), class: "btn btn-secondary" %>
    <%end%>
  <% end %>
  <br>
  <br>
  <%= link_to "Retour à l'espace troc", user_libraries_path, class: "btn btn-secondary"  %>
</div>
<div class="fixed-bottom"></div>
