<center>
<p> Possesseur du disque:<%=link_to @user_library.user.first_name, user_path(@user_library.user.id)%><p>
<h6> <%=link_to @user_library.disc.title, disc_path(@user_library.disc.id)%></h6>
<%if @user_library.description != nil%>
<p><%= @user_library.description%></p>
<%end%>
<p> <%= @user_library.disc_id%>
<br>
<% if current_user.id == @user_library.user_id || current_user.is_admin? == true %>
<%= link_to "Modifier", edit_user_library_path(@user_library.id)%>
<% end %>


<div class="col">
<% if current_user.user_libraries.ids.count > 0 && @user_library.user_id != current_user.id%>
<%= link_to "Proposer un troc", new_deal_path(sender_id: @user_library.disc_id, disc_id: @user_library.disc.id) %>


          <%else%>
          <h5>Ajoutez un disque a votre librairie</h5>
            <h6><%=link_to "Veuillez ajouter un disque dans votre librairie", new_user_library_path%></h6>

          <%end%>

          
</div>
<%= link_to "Retour à la bibliothèque", user_libraries_path %>
<div class="fixed-bottom">
</center>

