<head>
	<title>Discotroc - Contenus du troc</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Discotroc - Contenus du Troc">
	<meta charset="UTF-8" />
	<meta name="keywords"	content="troc, vinyls, CD, LaserDisc, blog, blogs, articles, articles, news, musique, musiques, playlists, partage, disques" />

</head>
<div class="text-center">
  <%= form_for @edit_deal_content do |f| %>
    <%= label_tag 'ID du troc' %> <br />
    <%= f.text_field :deal_id, placeholder: 'deal', autocomplete: 'off' %> <br>
    <%= label_tag 'Disque de lInitiateur' %> <br />
    <%= f.text_field :sender_library_id, placeholder: 'Sender library', autocomplete: 'off' %> <br>
    <%= label_tag 'Disque du compère' %> <br />
    <%= f.text_field :receiver_library_id, placeholder: 'Receiver library', autocomplete: 'off'%> <br>
    <br>
    <br>
    <%= submit_tag "Modifier", class: "btn btn-primary" %> <br>
    <br>
    <%= link_to "Revenir à l'accueil", root_path%>
  <% end %>
  <br>
  <%= link_to 'Supprimer', deal_content_path(@edit_deal_content.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
