<head>
  <title>Discotroc - Contenus Troc Index</title>
  <meta name="description" content="Discotroc - Contenus Troc Index">
  <meta name="keywords"	content="troc, vinyls, CD, LaserDisc, blog, blogs, articles, articles, news, musique, musiques, playlists, partage, disques" />
  <%=render 'head'%>
</head>
<div class="text-center">
  <%= link_to "Ajouter des disques au troc", new_deal_content_path%>
  <br>
  <br>
  <p> --------------------------------------------</p>
  <br>
  <% @deal_contents.each do |dealcontent| %>
    <h5> Disque N° <%= dealcontent.id%></h5>
    <hr style="width: 5%; border: 1px solid black;" >
    <p> Troc ID: <%=dealcontent.deal_id%></p>
    <p> ID du disque de l'initiateur: <%=dealcontent.sender_library_id%></p>
    <h5> Titre de l'album de l'initiateur => <%= Disc.find(UserLibrary.find(dealcontent.sender_library_id).disc_id).title%> </h5>
    <p> ID du disque du compère: <%=dealcontent.receiver_library_id%></p>
    <h6> Titre de l'album du compère => <%= Disc.find(UserLibrary.find(dealcontent.receiver_library_id).disc_id).title%> </h6>
    <%= link_to "Voir", deal_content_path(dealcontent.id)%>
    <br>
    <br>
  <%end%>
</div>
<br>
<div class="copy-right text-center">
  <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br>
  <br>
  <%= link_to "Revenir à l'accueil", root_path%>
  <br>
  <br>
