<head>
	<title>Discotroc - Votre Troc</title>

	<meta name="description" content="Discotroc - Troc Contenus">
	<meta name="keywords"	content="troc, vinyls, CD, LaserDisc, blog, blogs, articles, articles, news, musique, musiques, playlists, partage, disques" />
<%= render 'head'%>
</head>

<div class="text-center">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <%= label_tag 'Deal ID' %> <br>
    <%= text_field_tag 'deal_id', params[:deal_id]%> <br>
    <%= label_tag 'Sender Library ID' %> <br>
    <%= select_tag 'sender_library_id', options_for_select(@user_library.map{|user_library| [(Disc.find(user_library.disc_id).title + ", état : " + DiscState.find(user_library.disc_state_id).name ), user_library.id]}) %> <br>
    <%= label_tag 'Receiver Library ID' %> <br>
    <%= text_field_tag 'receiver_library_id' %> <br>
    <%= submit_tag "Envoyer" %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
