
<head>
	<title>Discotroc - Listes des Trocs</title>
	<meta name="description" content="Discotroc - Deal Index">
	<meta name="keywords" content="Article, Articles, Blogs, Blog, Musique, Disque, Vinyl, Partage, Actus">
<%=render 'head'%>
</head>
<div class="text-center">
  <h3> Créer un troc  </h3>
  <br>
  <h2> Index</h2>
  <% @deals.each do |deal| %>
    <p> Troc N° <%= deal.id%>
      <hr style="width: 5%; border: 1px solid black;" >
      <p> Initié par: <%=deal.sender_id%></p>
      <p> Compère de troc: <%=deal.receiver_id%></p>
      <p> Initiateur Ok ?: <%=deal.sender_ok?%></p>
      <p> Compère Ok ?: <%=deal.receiver_ok?%></p>
      <%= link_to "Voir", deals_path(deal.id)%>
      <br>
      <br>
    <%end%>
  </div>
      <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
