
<head>
	<title>Discotroc - Nouveau Troc</title>
	<meta name="description" content="Discotroc - Deal New">
	<meta name="keywords" content="Article, Articles, Blogs, Blog, Musique, Disque, Vinyl, Partage, Actus">

<%=render 'head'%>

</head>

<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <h1>Écran de confirmation</h1>
      <br>
      <ul>
        <p>Vous désirez initier un troc avec <b><%=@sender.last_name%></b> <%=@sender.first_name%></p>
        <p><%=@sender.first_name%> possède actuellement <b><%=@sender.user_libraries.count %> disques</b> qu'il souhaite échanger. </p>
        <p><%=@sender.first_name%> est noté en moyenne <b>x/5 étoiles</b></p>
        <p><b> Sa description actuelle : </b><%=@sender.description %></p>
      </ul>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-4 text-center">
      <%= form_tag url_for(sender_id: params[:sender_id], action: 'create'), method: "post" do %>
        <%= submit_tag "Confirmer la demande de Troc" %>
      <% end %>
    </div>
  </div>
</div>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
