<div class="container text-center my-4">
  <h1>Espace de troc</h1>
  <% if user_signed_in? %>
    <p> Deal N° <%= @deal.id%> </p>
    <hr style="width: 5%; border: 1px solid black;">
    <% if current_user == @deal.sender %>
      <% if @deal.deal_contents.present? %>
        <h6> Disque proposé par VOUS ! </h6>
        <% @deal.deal_contents.each do |deal_content| %>
          <% if deal_content.sender_library_id.present? %>
            <% sender_library = UserLibrary.find(deal_content.sender_library_id)%>
            <% if sender_library.present? %>
              <% sender_disc = Disc.find(sender_library.disc_id)%>
              <%= sender_disc.title%>
            <% else %>
              <p><%=@deal.sender.first_name%> n'a encore proposé aucun disque.</p>
            <% end %>
          <% else %>
            <p><%=@deal.sender.first_name%> n'a encore proposé aucun disque.</p>
          <% end %>
          <br>
          <%# Select form to choose a disc to troc ! %>
          <%=link_to "Proposer un disque", new_user_library_deal_deal_content_path(user_library_id: params[:user_library_id], deal_id: @deal.id)  %>
        <%end %>
        <hr style="width: 5%; border: 1px solid black;" >
        <br>
        <br>
        <h6> Disque proposé par <%=@deal.receiver.first_name%> </h6>
        <% @deal.deal_contents.each do |deal_content| %>
          <% if deal_content.receiver_library_id.present? %>
            <% receiver_library = UserLibrary.find(deal_content.receiver_library_id)%>
            <% if receiver_library.present? %>
              <% receiver_disc = Disc.find(receiver_library.disc_id)%>
              <%= receiver_disc.title%>
            <% else %>
              <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
            <% end %>
          <% else %>
            <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
          <% end %>
        <%end %>
      <% else %>
        <p>Aucun deal content détecté</p>
      <% end %>
    <% elsif current_user == @deal.receiver %>
      <% if @deal.deal_contents.present? %>
        <h6> Disque proposé par VOUS ! </h6>
        <% @deal.deal_contents.each do |deal_content| %>
          <% if deal_content.receiver_library_id.present? %>
            <% receiver_library = UserLibrary.find(deal_content.receiver_library_id)%>
            <% if receiver_library.present? %>
              <% receiver_disc = Disc.find(receiver_library.disc_id)%>
              <%= receiver_disc.title%>
            <% else %>
              <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
            <% end %>
          <% else %>
            <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
          <% end %>
          <br>
          <%# Select form to choose a disc to troc ! %>
          <%=link_to "Proposer un disque", new_user_library_deal_deal_content_path(user_library_id: params[:user_library_id], deal_id: @deal.id)  %>
        <%end %>
        <hr style="width: 5%; border: 1px solid black;" >
        <br>
        <br>
        <h6> Disque proposé par <%=@deal.receiver.first_name%> </h6>
        <% @deal.deal_contents.each do |deal_content| %>
          <% if deal_content.receiver_library_id.present? %>
            <% receiver_library = UserLibrary.find(deal_content.receiver_library_id)%>
            <% if receiver_library.present? %>
              <% receiver_disc = Disc.find(receiver_library.disc_id)%>
              <%= receiver_disc.title%>
            <% else %>
              <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
            <% end %>
          <% else %>
            <p><%=@deal.receiver.first_name%> n'a encore proposé aucun disque.</p>
          <% end %>
        <%end %>
      <%end %>
    <% else %>
    <% end %>
    <hr style="width: 5%; border: 1px solid black;" >
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    <%if current_user.id == @deal.sender_id %>
    <% else %>
      <h5> Sender </h5>
      <p> Prénom/Nom :
        <%= link_to user_path(@deal.sender_id) do %>
          <%=User.find_by(id: @deal.sender_id).first_name%> <%=User.find_by(id: @deal.sender_id).last_name%></p>
      <% end %>
    <%end%>
    <%if current_user.id == @deal.receiver_id %>
      <h5> Receiver </h5>
      <p> Vous participez à ce deal ! </p>
    <% else %>
    <%end %>
    <h5> Status </h5>
    <% if current_user.id == @deal.sender_id && @deal.sender_ok? == true %>
      <p> Vous êtes ok pour ce deal </p>
    <% elsif current_user.id == @deal.sender_id && @deal.sender_ok? == false %>
      <p> En attente de confirmation</p>
    <% elsif @deal.sender_ok? == true %>
      <p><%=User.find_by(id: @deal.sender_id).first_name%> a validé le troc.</p>
    <% else%>
      <p><%=User.find_by(id: @deal.sender_id).first_name%> n'a pas encore validé le troc.</p>
    <% end %>
    <% if current_user.id == @deal.receiver_id && @deal.receiver_ok? == true %>
      <p> Vous êtes ok pour ce deal </p>
    <% elsif current_user.id == @deal.receiver_id && @deal.receiver_ok? == false %>
      <p> Vous n'avez pas encore validé</p>
    <% elsif @deal.receiver_ok? == true %>
      <p><%=User.find_by(id: @deal.receiver_id).first_name%> a validé le troc.</p>
    <% else%>
      <p><%=User.find_by(id: @deal.receiver_id).first_name%> n'a pas encore validé le troc.</p>
    <% end %>
    <p>############################################################################</p>
    <% if current_user.id == @deal.sender_id || current_user.id == @deal.receiver_id || current_user.is_admin? == true%>
      <%#= link_to "Modifier", edit_deal_path(deal_id: @deal.id)%>
    <% end %>
    <p>############################################################################</p>
    <% if @deal.receiver_ok? == true && @deal.sender_ok? == true && (current_user.id == @deal.receiver_id || current_user.id == @deal.sender_id) %>
      <p>Vous pouvez laisser un commentaire sur la personne avec qui vous avez échangé !</p>
      <%= link_to "Laisser un commentaire", new_deal_comment_path(deal_id: @deal.id) %>
    <% end %>
    <p>############################################################################</p>
    <br>
    <br>
    <% if current_user.id == @deal.receiver_id || current_user.id == @deal.sender_id || current_user.is_admin? == true %>
      <%number = 1 %>
      <% search_pm.each do |pm| %>
        <p> Deal PM N° <%=number%> </p>
        <hr style="width: 5%; border: 1px solid black;" >
        <h5>Auteur : <%=User.find(pm.pm_author_id).first_name%></h5>
        <p><%=pm.content%></p>
      <% end %>
      <%= form_tag user_library_deal_deal_pms_path(user_library_id: params[:user_library_id],deal_id: params[:id], action: 'create'), method: "post" do %>
        <%= label_tag 'Content' %> <br>
        <%= text_field_tag 'content', "Votre commentaire" %> <br>
        <br>
        <%= hidden_field_tag 'deal_id', @deal.id %> <br>
        <br>
        <%= hidden_field_tag 'pm_author_id', current_user.id %> <br>
        <%= submit_tag "Envoyer" %>
      <% end %>
    <% else %>
      <p> Vous n'êtes ni le Sender, ni le receiver, ni un admin, donc vous ne pouvez pas voir la conversation </p>
    <% end %>
    <br>
  <% end %>
</div>
