<center>
  <p> Deal N° <%= @deal.id%>
    <hr style="width: 5%; border: 1px solid black;">
    <h6> Sender Disque(s) </h6>
    <hr style="width: 5%; border: 1px solid black;" >
    <% search_sender_disc(@deal).each do |content| %>
      <%= link_to disc_path(content.id) do %>
        <%= content.title%>
      <% end %>
      | <%= content.value%> <br>
    <%end %>
    Valeur total : <%= search_sender_disc(@deal).sum(:value)%>
    <br>
    <br>
    <h6> Receiver Disque(s) </h6>
    <hr style="width: 5%; border: 1px solid black;" >
    <% search_receiver_disc(@deal).each do |content| %>
      <%= link_to disc_path(content.id) do %>
        <%= content.title%>
      <% end %>
      | <%= content.value%> <br>
    <%end %>
    Valeur total : <%= search_receiver_disc(@deal).sum(:value)%>
    <%if current_user.id == @deal.sender_id %>
      <h5> Sender </h5>
      <p> Vous êtes le créateur du deal ! </p>
    <% else %>
      <h5> Sender </h5>
      <p> Prénom/Nom :
        <%= link_to user_path(@deal.sender_id) do %>
          <%=User.find_by(id: @deal.sender_id).first_name%> <%=User.find_by(id: @deal.sender_id).last_name%></p>
      <% end %>
    <%end%>
    <%=link_to "Proposer un disque", new_deal_content_path(deal_id: @deal.id)  %>
    <%if current_user.id == @deal.receiver_id %>
      <h5> Receiver </h5>
      <p> Vous participez à ce deal ! </p>
    <% else %>
      <h5> Receiver </h5>
      <p> Prénom/Nom :<%=link_to user_path(@deal.receiver_id) do%> <%=User.find_by(id: @deal.receiver_id).first_name%> <%=User.find_by(id: @deal.receiver_id).last_name%></p>
      <%end %>
    <%end %>
    <h5> Status </h5>
    <% if current_user.id == @deal.sender_id && @deal.sender_ok? == true %>
      <p> Vous êtes ok pour ce deal </p>
    <% elsif current_user.id == @deal.sender_id && @deal.sender_ok? == false %>
      <p> En attente de confirmation</p>
    <% elsif @deal.sender_ok? == true %>
      <p><%=User.find_by(id: @deal.sender_id).first_name%> a validé le troc.</p>
    <% else%>
      <p><%=User.find_by(id: @deal.sender_id).first_name%> n'a pas encore validé le troc.</p>
    <% end %>
    <% if current_user.id == @deal.receiver_id && @deal.receiver_ok? == true %>
      <p> Vous êtes ok pour ce deal </p>
    <% elsif current_user.id == @deal.receiver_id && @deal.receiver_ok? == false %>
      <p> Vous n'avez pas encore validé</p>
    <% elsif @deal.receiver_ok? == true %>
      <p><%=User.find_by(id: @deal.receiver_id).first_name%> a validé le troc.</p>
    <% else%>
      <p><%=User.find_by(id: @deal.receiver_id).first_name%> n'a pas encore validé le troc.</p>
    <% end %>
    <% if current_user.id == @deal.sender_id || current_user.id == @deal.receiver_id || current_user.is_admin? == true%>
      <%= link_to "Modifier", edit_deal_path(deal_id: @deal.id)%>
    <% end %>
    <p>############################################################################</p>
    <% if @deal.receiver_ok? == true && @deal.sender_ok? == true && (current_user.id == @deal.receiver_id || current_user.id == @deal.sender_id) %>
      <p>Vous pouvez laisser un commentaire sur la personne avec qui vous avez échangé !</p>
      <%= link_to "Laisser un commentaire", new_deal_comment_path(deal_id: @deal.id) %>
    <% end %>
    <p>############################################################################</p>
  </center>
  <br>
  <br>
  <% if current_user.id == @deal.receiver_id || current_user.id == @deal.sender_id || current_user.is_admin? == true %>
    <center>
      <%number = 1 %>
      <% search_pm.each do |pm| %>
        <p> Deal PM N° <%=number%>
          <hr style="width: 5%; border: 1px solid black;" >
          <h5>Auteur : <%=User.find(pm.pm_author_id).first_name%></h5>
          <p><%=pm.content%></p>
        <% end %>
        <center>
          <%= form_tag deal_pms_path(action: 'create'), method: "post" do %>
            <%= label_tag 'Content' %> <br>
            <%= text_field_tag 'content', "Votre commentaire" %> <br>
            <br>
            <%= hidden_field_tag 'deal_id', @deal.id %> <br>
            <br>
            <%= hidden_field_tag 'pm_author_id', current_user.id %> <br>
            <%= submit_tag "Envoyer" %>
          <% end %>
        <% else %>
          <p> Vous n'êtes ni le Sender, ni le receiver, ni un admin, donc vous ne pouvez pas voir la conversation </p>
        <% end %>
        <br>
      </center>
