
<head>
	<title>Discotroc - Troc'Messagerie</title>
	<meta name="description" content="Discotroc - DealPM">
	<meta name="keywords" content="Article, Articles, Blogs, Blog, Musique, Disque, Vinyl, Partage, Actus">
<%=render 'head'%>

</head>
<div class="text-center">
  <%= form_for @edit_deal_pm do |f| %>
    <%= label_tag 'Deal' %> <br />
    <%= f.text_field :deal_id, placeholder: 'Sender', autocomplete: 'off' %> <br>
    <%= label_tag 'Auteur' %> <br />
    <%= f.text_field :pm_author_id, placeholder: 'Receiver', autocomplete: 'off'%> <br>
    <%= label_tag 'Contenu ' %> <br />
    <%= f.text_field :content, placeholder: 'Content', autocomplete: 'off'%><br>
    <br>
    <br>
    <%= submit_tag "Modifier", class: "btn btn-primary" %> <br>
    <br>
    <%= link_to "Revenir à l'accueil", root_path%>
  <% end %>
  <br>
  <%= link_to 'Supprimer', deal_pm_path(@edit_deal_pm.id), method: :delete, data: { confirm: 'Es-tu certain ?' } %>
</div>
<br>
<br>
<br>
<br>
<br>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
