
<head>
	<title>Discotroc - Troc'Messagerie Index</title>
	<meta name="description" content="Discotroc - <%=@article.title%>">
	<meta name="keywords" content="Article, Articles, Blogs, Blog, Musique, Disque, Vinyl, Partage, Actus">

<%= render 'head'%>
</head>
<div class="text-center">
 <h3> Envoyer un message privé </h3>
 <%= link_to "Créer", new_deal_pm_path%>
 <br>
  <h2> Index</h2>
<% @deal_pms.each do |deal_pm| %>
<p> Message Privé N° <%= deal_pm.id%>
<hr style="width: 5%; border: 1px solid black;" >
<h5>Auteur : <%=User.find(deal_pm.pm_author_id).first_name%> <%=User.find(deal_pm.pm_author_id).last_name%></h5>
<p><%=deal_pm.content%></p>
<%= link_to "Voir", deal_pm_path(deal_pm.id)%>
<br> <br>
<%end%>
</div>
   <br>
        <div class="copy-right text-center">
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 20px"%> <br> <br>
					<%= link_to "Revenir à l'accueil", root_path%>
					<br>
					<br>
