<head>
	<title>Discotroc - Troc'Message</title>
	<meta charset="UTF-8">
	<meta name="description" content="Discotroc - <%=@article.title%>">
	<meta name="keywords" content="Article, Articles, Blogs, Blog, Musique, Disque, Vinyl, Partage, Actus">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<div class="text-center" style="margin-bottom: 40px">
<p> Message Privé N° <%= @deal_pm.id%>
<hr style="width: 5%; border: 1px solid black;" >
<h5>Auteur : <%=User.find(@deal_pm.pm_author_id).first_name%> <%=User.find(@deal_pm.pm_author_id).last_name%></h5>
<p><%=@deal_pm.content%></p>

<%= link_to "Modifier", edit_deal_pm_path(@deal_pm.id)%>

</div>
