
            	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>


	<!-- Similar Songs section -->
	<section class="similar-songs-section">
		<div class="container-fluid">
			<div class="text-center">
		  <h1>Disque déjà enregistré</h1>
			<h3 class="disc-index-title" style="margin-bottom: 15px">Recherchez le vôtre</h3></div>
			<div class="container text-center">
  <% if user_signed_in? %>
    <h5 class="disc-index-title" style="margin-bottom: 10px"><%= link_to "Ou créez-le !", new_disc_path, class: "site-btn text-center", style: "padding: 10px 20px"%> </h5>
     <br>
    <br>
  <% end %>
	</div>
        <div class="container">
				<ul class="playlist-filter controls">
							<div class="text-center">
					<li class="control", style="margin-right: 10px" data-filter="all">Tous les genres</li>
					</div><div class="text-center">
<% @all_genres.each do |genre|%>
					<li class="control", style="margin-right: 10px" data-filter=".<%=genre.name%>"><%=genre.name%></li>
					<%end%>
		</div>
				<hr style="width: 35%; border: 1px solid black;" >
				</ul>

			</div>
			<div class="container">
				<div class="row playlist-area">

			<%@discs.each_with_index do |disc, index|%>
			<% if disc.genre.name == @all_genres[0].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[0].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
			<% elsif disc.genre.name == @all_genres[1].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[1].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif disc.genre.name == @all_genres[2].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[2].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif disc.genre.name == @all_genres[3].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[3].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
										<% elsif disc.genre.name == @all_genres[4].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[4].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
																	<% elsif disc.genre.name == @all_genres[5].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[5].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
									<% elsif disc.genre.name == @all_genres[6].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[6].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
							<% elsif disc.genre.name == @all_genres[7].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[7].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
						<% elsif disc.genre.name == @all_genres[8].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[8].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
								<% elsif disc.genre.name == @all_genres[9].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[9].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
									<% elsif disc.genre.name == @all_genres[10].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[10].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
							<% elsif disc.genre.name == @all_genres[11].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[11].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>
						<% elsif disc.genre.name == @all_genres[12].name && disc.id != 1%>
				<div class="mix col-xl-3 col-sm-6 <%=@all_genres[12].name%>">
					<div class="library-index-card" style="height: 95%;">
          <%if disc.cover_picture.nil? == false%>
						<%=image_tag disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
            <%else%>
						<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
						<%end%>
						<div class="head-lib-card"><%if disc.title.length >50%>
						<h6>	<%=disc.title%></h6></div>
						<%elsif disc.title.length > 36%>
						<h5>	<%=disc.title%></h5></div>
						<%else%>
					<h4>	<%=disc.title%></h4></div>
					<%end%>
							<div class="head-lib-card"><p><%=disc.artist%></p></div>
						<div class="single_player"><p><%=disc.release%></p>
							<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
							<div class="jp-audio jp_container_8" role="application" aria-label="media player">
								<div class="jp-gui jp-interface">
										</div>
									</div>
										<div class="low-card">

									<div class="lib-index-butn" >	  <%= link_to "Proposer un Troc", user_library_path(disc.id), class: "btn-library-index text-center"%></div>							 <%=link_to disc_path(disc.id) do %>
	  <i class="fas fa-eye" style="color:#0a183d; font-size: 30px; padding-right:14px"></i><%end%>
									</div>
 									</div>
                 	</div>
									</div>


							<%end%>
							<%end%>
			</div>
		</div>

	</section>
