  <head>
    <title>Discotroc - Nouveau Disque </title>
    <meta name="description" content="Discs New">
    <meta name="keywords" content="music, html">
<%=render 'head'%>
  </head>
<body>
	<!-- /login-section -->
  <% if flash[:notice_bad] %>
    <div class="alert alert-danger mb-0">
      <% if user_signed_in? %>
        Veillez à remplir tous les champs afin de créer votre disque.
      <% else %>
        Veuillez vous inscrire et compléter votre profil pour accéder à cette fonctionnalité.
      <% end %>
    </div>
  <% end %>
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-left" style="margin: 0 auto;">
					<div class="middle text-center">
          <%=image_tag "icons/disc_red.png", style:"width: 200px; height: 200px;"%>
          <br>
						<h4 class="text-center">Créer un disque</h4>
						<p class="text-center">Il ne vous restera plus qu'à l'ajouter dans votre librairie.</p>
					</div>
           <%= form_tag url_for(action: 'create'), method: "post" do %>
							<div class="form-input">
								<%= label_tag 'Titre' %>
							<%= text_field_tag 'title'%>
							</div>
             <div class="form-input">
                <%= label_tag 'Artiste' %>
               <%= text_field_tag 'artist' %>
             </div>
             <div class="form-input">
                <%= label_tag 'Année de création' %>
               <%= text_field_tag 'release' %>
             </div>
             <div class="form-input">
                <%= label_tag 'Format' %> <br>
               <%=select_tag "format_id", options_from_collection_for_select(Format.all, :id, :name), :class => "browser-default custom-select" %>
             </div>
             <div class="form-input">
                <%= label_tag 'Genre' %> <br>
               <%=select_tag "genre_id", options_from_collection_for_select(Genre.all, :id, :name), :class => "browser-default custom-select" %>
             </div>
             <div class="form-input">
                <%= label_tag 'Label' %>
               <%= text_field_tag 'label' %>
             </div>
              <div class="form-input">
                <%= label_tag 'Pays' %>
                <%= text_field_tag 'country' %>
             </div>
             <br>
             <div class="text-center">
							<%= submit_tag "Créer un disque", type: "submit", class: "site-btn text-center", style: "padding: 10px; width:90%"  %>
              </div>
              <%end%>
              <br>

   <br>
               <div class="copy-right text-center">
          <br>
          <%= link_to "Retour", :back, class: "site-btn text-center", style: "padding: 10px 12px"%><br><br>
          <%= link_to "Revenir à l'accueil", root_path, style:" margin-top: 0.5rem"%>
        </div>

			</div>

		</div>
	</section>
	<!-- //login-section -->
</body>
