    <center>
    <%if @disc.cover_picture.nil? == false%>
<%= image_tag @disc.cover_picture%><br>
<%end%>
    <h6>Titre</h6>
<%= @disc.title%> <br>
<br>
<h6>Années de sortie</h6>
<%= @disc.release%> <br>
<br>
<h6>Valeur</h6>
<%= @disc.value%> <br>
<br>
<h6>Label</h6>
<%= @disc.label%> <br>
<br>
<h6>Format</h6>
<%= @disc.format%> <br>
<br>
<h6>Pays de sortie</h6>
<%= @disc.country%> <br> 
<br>


<br>

<%if @disc.artist_ids.length != 0%>
<h4>Artiste :</h4>
<% @disc.artist_ids.each do |artist_index|%>
<h5> <%= Artist.find_by(id: artist_index).name%></h5>
<%end%>
<%end%>

<br>
<%if @disc.genre_ids.length != 0%>
<h5>Genre :</h5>
<% @disc.genre_ids.each do |genre_index|%>
<p> <%= Genre.find_by(id: genre_index).name%></p>
<%end%>
<%end%>

<br>
<%if @disc.style_ids.length != 0%>
<h5>Style :</h5>
<% @disc.style_ids.each do |style_index|%>
<p><%= Style.find_by(id: style_index).name%></p>
<%end%>
<%end%>

<br>
<%if @disc.track_ids.length != 0%>
<h5>Track :</h5>
<h5> <%@disc.track_ids.each do |track_index| %>
<p><%= Track.find_by(id: track_index).name%></p>
<%end%>
<%end%> </h5>
<br>

<% if current_user.is_admin? == true %>
<%= link_to "Modifier", edit_disc_path(@disc.id)%>
<%end%>

    </center>