  <head>
    <title>Discotroc - Show</title>
    <meta charset="UTF-8">
    <meta name="description" content="Discotroc -show">
    <meta name="keywords" content="music, html">

  </head>

<div id="preloder">
	<div class="loader"></div>
</div>
<!-- Page Preloder -->

<section class="set-bgg-discshow">
	<div class="text-center"> <% if user_signed_in? %>
		<%= link_to "J'ai ce disque à troquer !", new_user_user_library_path(current_user.id), class: "site-btn text-center", style: "padding: 10px 20px"%>
		<% end %></div>
	<div class="container">
		<div class="player-box box-discshow">
			<div class="tarck-thumb-warp">
				<div class="tarck-thumb">
					<% if @disc.cover_picture != nil %>
					<%= image_tag @disc.cover_picture %>
					<% else %>
					<%= image_tag "icons/disc_red.png" %>
					<% end %>
				</div>
			</div>

			<div class="wave-player-warp">
				<div class="row">
					<div class="col-lg-8">
						<div class="wave-player-info">
							<% if @disc.title.length >35%>
							<h4><%=@disc.title%></h4>
							<% elsif @disc.title.length >15%>
							<h3><%=@disc.title%></h3>
							<%else%>
							<h2><%= @disc.title%></h2>
							<%end%>
							<h5> <%if @disc.artist.nil? == false%>
								<%=@disc.artist %>
								<%else%>
								Artiste non renseigné
								<%end%></h5>
							<p><%if @disc.release.nil? == false%>
								<%= @disc.release%>
								<%else%>
								Année de sortie inconnue
								<%end%></p>
							<%if @disc.release.nil? == false%>
							<h6> <%=@disc.format.name%></h6>
							<%else%>
							Format inconnu
							<%end%>
							<%if @disc.country.nil? == false%>
							<h6>Sorti en <%=@disc.country%></h6>
							<%else%>
							<h6>Pays </h6>Inconnu
							<%end%>
						</div>
					</div>
					<div class="col-lg-4 more-infos">
						<div class="comp-infos-up">
							<%if @disc.label.nil? == false%>
							<h6>Label</h6><%= @disc.label%>
							<%else%>
							<h6>Label </h6>Inconnu
							<%end%>
						</div>
						<div class="comp-info-down">
							<% if @disc.genre.nil? == false%>
							<h6>Genre </h6><%=@disc.genre.name%>
							<%else%>
							<h6>Genre </h6>Inconnu
							<%end%>
							<h6>
						</div>
						<div class="comp-info-lower">

							<div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>




<div class="container">
<div class="disc-show-list text-center">
	<h1>Trocs disponibles</h1>
</div>

<div class="row playlist-area deal-list" style=>
	<%@disc.user_libraries.each_with_index do |library, index|%>
	<%if @disc.user_libraries[index].user.first_name != nil && @disc.user_libraries[index].user.last_name != nil%>

	<div class="mix col-xl-3 col-sm-6">
		<div class="library-index-card" style="height: 95%;">
			<%if library.disc.cover_picture.nil? == false%>
			<%=image_tag library.disc.cover_picture, :class => "ss-thumb" %src= alt=""%>
			<%else%>
			<%=image_tag "icons/disc_red.png", :class => "ss-thumb" %src= alt=""%>
			<%end%>
			<div class="head-lib-card">
				<h4>
					<%=link_to "#{@disc.user_libraries[index].user.first_name} #{@disc.user_libraries[index].user.last_name}", user_path(@disc.user_libraries[index].user.id), :class => "name-disc-show" %>
				</h4><%=link_to user_path(@disc.user_libraries[index].user.id) do %>
				<i class="fas fa-id-card disc-show"></i><%end%>
			</div>
			<div class="head-lib-card artiste-release">
				<p><%=library.disc.artist%></p>
			</div>
			<p> <%=library.user.country%></p>
			<div class="single_player">

				<div class="jp-jplayer jplayer" data-ancestor=".jp_container_8" data-url=""></div>
				<div class="jp-audio jp_container_8" role="application" aria-label="media player">
					<div class="jp-gui jp-interface">
					</div>
				</div>
				<div class="low-card">

					<div class="lib-index-butn">
						<%= link_to "Proposer un Troc", user_library_path(library.id), class: "btn-library-index text-center"%>
					</div>

				</div>
			</div>
		</div>
	</div>

	<%end%>
	<%end%>
</div>
</div>



</section>
