	<!-- Footer section -->
<footer class="footer footer-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 order-lg-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="footer-widget">
              <h2>À propos</h2>
              <ul>
                <li><%=link_to "Notre Projet", root_path%></li>
                <li><%=link_to "Contactez-nous", new_message_path%>></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="footer-widget">
              <h2>Sommaire</h2>
              <ul>
                <% if user_signed_in? %>
                  <li><%=link_to 'Profil', user_path(current_user.id) %> </li>
                <%else%>
                  <li><%=link_to 'Inscription', new_user_registration_path %> </li>
                  <li><%=link_to 'Blog', articles_path %></li>
                  <li><%=link_to 'Marché aux trocs', user_libraries_path  %></li>
                  <li><%=link_to 'Retour accueil', root_path %></li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5 order-lg-1">
        <%= image_tag "logo-white-sm.png"%>
        <div class="copyright">
          Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> Tous droits pas reservés | Ce projet aurait pu être fait avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <%=link_to "des gens", "https://www.pixiz.com/frame/looser-2614421"%>
        </div>
        <div class="social-links">
          <%=link_to "www.instagram.com" do %>
            <i class="fa fa-instagram"></i>
          <%end%>
          <%=link_to "www.instagram.com" do %>
            <i class="fa fa-facebook"></i>
          <%end%>
          <%=link_to "www.instagram.com" do %>
            <i class="fa fa-twitter"></i>
          <%end%>
          <%=link_to "www.instagram.com" do %>
            <i class="fa fa-youtube"></i>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer section end -->
