	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 order-lg-2">
					<div class="row">
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>A propos</h2>
								<ul>
									<li><%=link_to "Notre Projet", root_path%></li>
									<li><%=link_to "Contactez nous", root_path%>></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Sommaire</h2>
								<ul>
                <%if current_user != nil%>
									<li><%=link_to 'Profil', user_path(current_user.id) %> </li>
                  <%else%>
                  <li><%=link_to 'Inscription', new_user_registration_path %> </li>
									<li><%=link_to 'Blogs', articles_path %></li>
									<li><%=link_to 'Marché au trocs', user_libraries_path  %></li>
                  <li><%=link_to 'Retour accueil', root_path %></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<%= image_tag "logo-white-sm.png"%>
					<div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits pas reservés | Ce projet aurais pu etre fait avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <%=link_to "des gens", "https://www.pixiz.com/frame/looser-2614421"%>
</div>
					<div class="social-links">
            <%=link_to "www.instagram.com" do %>
            <i class="fa fa-instagram"></i>
            <%end%>
            <%=link_to "www.instagram.com" do %>
            <i class="fa fa-facebook"></i>
            <%end%>
            <%=link_to "www.instagram.com" do %>
            <i class="fa fa-twitter"></i>
            <%end%>
            <%=link_to "www.instagram.com" do %>
            <i class="fa fa-youtube"></i>
            <%end%>

					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
