<header class="header-section clearfix">
		<a href="index.html" class="site-logo">
			<%= image_tag "logo 2.png"%>
		</a>
		<div class="header-right">
			<a href="#" class="hr-btn">Help</a>
			<span>|</span>
			<div class="user-panel">
      <% if user_signed_in? %>

        <%= link_to "Mon profil", edit_user_registration_path, class: "login" %>


          <%= button_to "Déconnexion", destroy_user_session_path, method: :delete, class: "register" %>

      <% else %>
          <%= link_to "Se connecter", new_user_session_path, class: "login" %>

          <%= link_to "S'inscrire", new_user_registration_path, class: "register" %>

      <% end %>
			</div> 
		</div>
		<ul class="main-menu">
			<li><%= link_to "Accueil", root_path%></li>
			<li><%= link_to "Vinyles", discs_path%></li>
			<li><a href="#">Pages</a>
				<% if user_signed_in? && current_user.is_admin? == true %>
        <ul class="sub-menu">
          <li><%= link_to "Voir les tracks", tracks_path%></li>
          <li><%= link_to "Voir les styles", styles_path%></li>
          <li class="divider"></li>
          <li><%= link_to "Voir les genres", genres_path%></li>
          <li><%= link_to "Voir les artistes", artists_path%></li>
          <li><%= link_to "Voir les deals", deals_path%></li>
          <li><%= link_to "Voir les deals PM", deal_pms_path%></li>
          <li><%= link_to "Voir les deals contents", deal_contents_path%></li>
          <li><%= link_to "Voir les disques", discs_path%></li>
          <li><%= link_to "Voir les user libraties", user_libraries_path%></li>
        </ul>
        <% else %>
          <ul class="sub-menu">
          <li class="divider"></li>
          <li><%= link_to "Voir les disques", discs_path%></li>
          <li><%= link_to "Voir les deals", deals_path%></li>
          <li><%= link_to "Voir les user libraties", user_libraries_path%></li>
        </ul>
        <%end %>
			</li>
			<li><%= link_to "Blog", discs_path%></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->