<!DOCTYPE html>
<html>
  <head>
 <%= favicon_link_tag asset_path('favicon.png') %>
    <title>Discotroc</title>
    
 <script src="https://kit.fontawesome.com/8f239ccbef.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", async: true %>
    

  </head>
  <body>
      <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    
  </body>
</html>